<h1>Lista prodotti</h1>
<input type="text" placeholder=codiceProdotto" [(ngModel)]="prodotto.id">
<input type="text" placeholder="descrizione" [(ngModel)]="prodotto.descrizione">
<input type="text" placeholder="prezzo" [(ngModel)]="prodotto.prezzo">
<button (click)="addProdotto()">Aggiungi</button>
<br>
<input type="text" placeholder="criterioDiRicerca" [(ngModel)]="prodotto.criterioDiRicerca">
<button (click)="getByDescriptionLike()">Cerca</button>
<br>
<table id="table">
  <tr>
      <th>Codice</th>
      <th>Descrizione</th>
      <th>Prezzo</th>
  </tr>
  <tr *ngFor="let p of prodotti">
      <td>{{p.id}}</td>
      <td>{{p.descrizione}}</td>
      <td>{{p.prezzo}}</td>
      <td> <button (click)="removeProdotto(p)">X</button></td>
  </tr>
</table>
